@charset "UTF8";

@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway-Medium.woff)
}

:root{
    --corBranco: #ffffff;
    --corAzul: #33a8db;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 605px;
    width: 100vw;
    border-bottom: 3px solid var(--tazul);
    background-image: linear-gradient(#040404, #102735), url(../images/banner.png);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content{
    max-width: 460px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.logo{
    background-color: rgba(0, 0, 0, 0.400);
    padding: 30px;
    margin-top: 30px;
    border-radius: 50%;
}

header h1{
    color: #33a8db;
    font-family: raleway;
    font-size: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 46.96px;
}

header p{
    color: var(--tbranco);
    margin-top: 20px;
    font-family: relaway;
    font-size: 20px;
}

main>section#course-content{
    height: 609px;
    color: var(--tbranco);
    align-content: center;
    background-color: #040404;
}

#transform-world{
    height: 460px;
    background: url(../images/woman-code.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
